<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/main.css">        

    	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../static/js/popper.js"></script>    
    <script>
    	function doAjax() {
                $.ajax({
                        url: '/refresh',
                        type: 'POST',
			data: $(this).serialize(),
			dataType: 'json',
			success: function(response){  
				$('#placa').text(response.plate)
				$('#nome').text(response.nome)
				$('#carro').text(response.carro)
				$('#cargo').text(response.cargo)
			},
			complete: function() {
		       		setTimeout(doAjax, 1000);		    
                	}
		});
       }
       setTimeout(doAjax, 1000);
    </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Stefano & Pelizer</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav mr-auto">
                	<li class="nav-item active">
                    		<a class="nav-link">Principal</a>
                	</li>
                	<li class="nav-item">
				<a href="{{ url_for('logs') }}" class="nav-link">Log</a>
                	</li>
                	<li class="nav-item">
				<a href="{{ url_for('gerenciamento') }}" class="nav-link">Gerenciamento</a>
                	</li>
                	<li class="nav-item">
                 	   	<a class="nav-link">Administrador</a>
                	</li>
            	</ul>
            	<ul class="navbar-nav ml-auto">
                	<li class="nav-item">
                    		<a class="nav-link btn btn-outline-light d-inline-block text-light">Sair</a>
                	</li>
           	 </ul>
	    </div>
        </nav>
        
        
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-center">
                        <h2>Ao vivo</h2>
			<img src="{{ url_for('video_feed') }}" width="360" height="240">
                    </div>
                    <div class="col">
                            <h2> Status </h2>
                            <div class="alert alert-primary d-inline-block" role="alert">
				    Placa identificada: <span class="d-inline-block" id="placa"></span>
                            </div>
                            <br>
                            <h2> Dados Cadastrados </h2>
                            <div class="">
                                <span>Nome: <span class="d-inline-block" id="nome"> </span></span>
                                <span>Carro: <span class="d-inline-block" id="carro"> </span></span> 
				<span>Cargo: <span class="d-inline-block" id="cargo"> </span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="footer bg-dark">
            <div class="container">
                <p class="text-center text-white"> &copy; Stefano & Pelizer </p>
            </div>
        </div>
        <script src="../static/js/bootstrap.min.js"></script>
    </body>
</html>
